/* 全局置頂按鈕 start */
.scrollTop-container {
  z-index: 10000000;
  bottom: 0px;
  transition: all .3s;
  transform: translateY(-20px);
  transition-duration: .3s;
  opacity: 0;
  .scrollTop-btn {
    background-image: url('@/assets/pic/icon/scrollbtn.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    &:hover {
      background-image: url('@/assets/pic/icon/scrollbtn-hover.png');
    }
  }
}
.scrollIconMoveIn {
  opacity: 1;
  transform: translateY(0px);
}
/* 全局置頂按鈕 end */
// 首頁 slider-icon start
.slider-icon {
  margin-bottom: 10px;
  width: 30px;
  height: 50px;
  z-index: 10;
  border-radius: 30px;
  transition: all 2s;
  &:after {
    content: '';
    display: inline-block;
    position: relative;
    transform: translateY(0px);
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 5px;
    animation: move 1.2s linear .3s infinite;
  }
  &:active,
  &:hover {
    transform: translate(-50%, -10px) !important;
    transition: all 1s;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}
@keyframes move {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}
// 首頁banner滑動提示紐 end
// 全局共用按鈕 start
.w-btn {
  font-size: 1.125rem !important;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: black !important;
  padding: 1rem 1.5rem !important;
  background: white !important;
}
.w-btn-product {
  font-size: 1.125rem !important;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: black !important;
  padding: 0.25rem !important;
  background: white !important;
  text-align: center;
  border-radius: 3px;
}
.productUnitBtn {
  display: inline-block;
  cursor: pointer;
  background: white;
  border: 1px solid $secondary-80;
  color: black;
  padding: 0 3rem;
  &:active {
    box-shadow: inset 1px 1px 5px $secondary-40
  }
}
.chat-container {
  width: 50px;
  height: 50px;
  transition: all 1s;
  border-radius: 5px;
  z-index: 100000000;
  .chat-icon {
    font-size: 2em;
    color: white;
  }
  .chat-span {
    left: -90px !important;
    top: -15px !important;
    animation-duration: 1s;
    animation-delay: 5s;
  }
}
.translateY-70px {
  transition: all 1s;
  transform: translateY(-70px);
}
@include media-breakpoint-up(md) {
  .w-btn {
    padding: 1.2rem 2rem !important;
  }
  .slider-icon {
    margin-bottom: 50px;
  }
}
// 全局共用按鈕 end
@media (max-width:375px) {
  .scrollTop-container {
      .scrollTop-btn {
        width: 40px;
        height: 40px;
      }
    }
  .chat-container {
    width: 40px;
    height: 40px;
    line-height: 35px;
  }
  .translateY-70px {
    transition: all 1s;
    transform: translateY(-50px);
  }
}