.footer {
  box-shadow: 0px -5px 20px black;
  .footer-color {
    color: $secondary-BF;
  }
  .ins,
  .meta {
    padding: 10px;
    line-height: 40px;
  }
  .footer-active-hover {
    transition: .2s all;
    color: $secondary-BF;
    &:hover,
    &:active {
      color: $base-color;
    }
  }
}
